manifest {
  name            = 'nf-austin/'
  author          = 'Austin Varela'
  homePage        = 'https://github.com/nf-austin/'
  description     = 'Description of pipeline'
  mainScript      = 'main.nf'
  nextflowVersion = '>=24.04.0'
  version         = '0.1.0'
  defaultBranch   = 'main'
}

params {
  // Input/Output
  outdir = "results"
  
  // Resource caps
  max_memory = 128.GB
  max_cpus   = 32
  max_time   = 72.h
}

process {
  resourceLimits = [
    memory: params.max_memory,
    cpus  : params.max_cpus,
    time  : params.max_time
  ]

// Example process configuration
// withName: 'PROCESS_NAME' {
//     container = 'quay.io/biocontainers/tool:version'
//     cpus      = { 4 * task.attempt }
//     memory    = { 16.GB * task.attempt }
//     time      = { 4.h * task.attempt }
// }
}

profiles {
  docker {
    docker.enabled       = true
    docker.userEmulation = true
    singularity.enabled  = false
    conda.enabled        = false
  }
  singularity {
    singularity.enabled    = true
    singularity.autoMounts = true
    docker.enabled         = false
    conda.enabled          = false
  }
  conda {
    conda.enabled       = true
    docker.enabled      = false
    singularity.enabled = false
  }
}
